html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #191919;
  background: url("https://firebasestorage.googleapis.com/v0/b/farewell-e3b20.appspot.com/o/bg.png?alt=media&token=0bea2d28-ddda-421c-b81c-50ee61cbe510");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #191919;
  font-family: "Asap", sans-serif;
}

input,
textarea {
  width: 100%;
  background: rgb(35 35 35);
  color: rgb(128 128 128);
  padding: 10px 20px;
  min-width: 100%;
  border: none;
  outline: none;
  max-width: 100%;
  font-size: 19pt;
}

.formWrapper {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.formSection {
  padding: 10px 0;
}

button {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 15pt;
  color: rgb(255 255 255);
  background: rgb(19 68 86);
  cursor: pointer;
  outline: none;
}

#thankyou {
  display: none;
  color: rgb(220 220 220);
  font-size: 25pt;
}

.limitMsg {
  color: #888;
}

.heading-intro {
  color: #fffa;
  font-size: 21pt;
}
